{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="container">
        <div class="profile">
            <img src="" alt="we"/>
        </div>
          <div class="nick">
            <h1>Nick </h1>
              <button> Redaktirovat profil </button>
              <div class="follow">
                  <p>Follow</p>
                  <p>Follow</p>
                  <p>Follow</p>

              </div>
              <p class="desc">
                 Description
              </p>
        </div>
    </header>
    <main class="container">
        <hr>
        <section class="stories">
             <div class="story">
                 <img src="" alt="story"/>
             </div>
             <div class="story">
                <img src="" alt="story"/>
            </div>
            <div class="story">
                <img src="" alt="story"/>
            </div>
        </section>
    </main>

</body>
</html>