{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'profile.css' %}">
</head>
<body>
    <header class="container">
        <div class="profile">
            <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.vecteezy.com%2Fphoto%2F10105000-concept-of-loneliness-and-disappointment-in-love-sad-man-sitting-element-of-the-picture-is-decorated-by-nasa&psig=AOvVaw1r7MKPU23J0y1aPW917pzw&ust=1708617770994000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCMj9kKrnvIQDFQAAAAAdAAAAABAE" alt="profile_picture"/>
        </div>
            <div class="nick">
                <div class="box">
                    <h1>@{{ request.user.username }}</h1>
                <button><a href="{% url 'users:update' %}">Редактиравоват профил</a> </button>
                <button>посмотрет архив </button>
                </div>

              <div class="follow">
                  <p>{{ request.user.post.count }} публикация</p>
                  <p>73 подписчиков</p>
                  <p>134 подписок</p>

              </div>
              <p>{{ request.user.firstname }}</p>
              <p class="desc">{{ request.user.bio }}</p>
            </div>

    </header>
    {% for post in users_posts %}
    <div class="card">
        <img class="post-image" src="{{ post.image.url }}" alt="{{ post.title }}">
        <div class="card-body">
            <h1 class="post-title">{{ post.title }}</h1>
            <p class="post-description">{{ post.description }}</p>
        </div>
    </div>
    {% endfor %}



</body>
</html>